<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Il mio Cinema</title>

</head>

<body>
  
  <div>
    <!-- elenco-proiezioni.component.html -->
<div *ngFor="let proiezione of proiezioni">
    <h3>Proiezione ID: {{ proiezione.id }}</h3>
    <div>Film: {{ proiezione.film.titolo }}</div>
    <div>Sala: {{ proiezione.sala.nome }}</div>
    <div>Data e ora: {{ proiezione.orario | date:'dd/MM/yyyy HH:mm' }}</div>
    <div>Posti Disponibili: {{ proiezione.postiDisponibili }}</div>
    <hr>
  </div>
  
  </div>

  <router-outlet></router-outlet>
</body>

</html>