<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Il mio Cinema</title>
  
</head>
<body>
  <header>
    <h1>Il mio Cinema</h1>
  </header>
  
    <button (click)="toggleFilmList()">Elenco Film</button>
  
    <button (click)="toggleAddFilmForm()">Aggiungi nuovo film</button>
 
    <button (click)="toggleSaleList()">Elenco Sale</button>
 
    <button (click)="toggleProiezioniList()">Elenco Proiezioni</button>




  

  <router-outlet></router-outlet>
</body>
</html>